---
const personalImageAlt = "Lucio Santiba침ez"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <!-- <img
      class="rounded-full shadow-lg size-16"
      src="/midudev.webp"
      alt={personalImageAlt}
    /> -->
    <a
      href="https://www.linkedin.com/in/lucio-santiba%C3%B1ez/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-700 sm:text-5xl dark:text-white"
  >
    Hola, soy Lucio Santiba침ez
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    1 a침o y medio desarrollando p치ginas web. <strong
      >Estudiante de Desarrollo de software</strong
    >.  
  </p>
  <nav class="flex flex-wrap gap-4 mt-6">
    <SocialPill href="mailto:luciosantibanez99@gmail.com">
      <MailIcon class="size-5" />
      
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/lucio-santiba%C3%B1ez/">
      <LinkedInIcon class="size-5" />
      
    </SocialPill>
  </nav>
</div>
